body {
	display: flex;
	flex-direction: column;

	height: 100vh;
}


.header {
	display: flex;
	flex: 1;

	background-color: lightgreen;
}

.main {
	display: flex;
	flex: 10;
	background-color: lightseagreen;
}

.footer {
	display: flex;
	flex: 1;

	background-color: lightsalmon;
}
